body{
    font-size: 16px;
    a{
        text-decoration: none !important;
    }
}

.top-nav{
    display: flex;
    justify-content: space-between;
}

form {
    margin-bottom: 10px;
    label{
        margin-right: 10px;
        color: #6C757D;

    }
}


#categories > .card {
    height: fit-content;
    min-width: 27%;
    .card-img-top{
        height: 50px;
    }
    & > .card-header{
        padding: 0px!important;
    }
}


#CardOpenModal{
    .modal-header {
        p{
            margin: unset;
        }
    }
    .modal-footer > *{
        margin: 0 15px !important;
    }
}

.hidden{
    display: none   !important;
}

.workspaces.index.content {
    border-radius: 10px;
}
.workspace_member{
    margin: auto 0!important;
}
.card .img-fluid.rounded-start{
    object-fit: cover;
    height: 100%!important;
}
